body {
    font-family: sans-serif;
}
.encabezado_section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    align-items: center;
    background-color: white;
}
.encabezado_section img{
    width: 120px;
    padding-left: 5%;
}
.encabezado_section div{
    width: 20%;
}
.encabezado_section a{
    padding-left: 10%;
    font-family: sans-serif;
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.text_with_image{
    width: 95%;
    height: 500px;
    background: url(img/background6.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: start;
    padding-left: 5%;
    font-family: sans-serif;
    flex-direction: column;
}
.text_with_image_h1 {
    width: 35%;
    font-size: 25px;
}
.text_with_image p{
    font-size: 15px;
}
.Button_black {
    border: none;
    background-color: black;
    color: white;
    padding: 15px 60px;
    text-decoration: none;
}
.text_with_image_links{
    display: flex;
    align-items: center;
    gap: 5%;
}
.text_link {
    color: black;
}
.blue_section {
    width: 92.5%;
    height: auto;
    padding: 4%;
    background-color: #c6dcff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.blue_section_image_img {
    width: 80%;
}
.blue_section_text{
    padding-right: 15%;
}
.blue_section_text h2 {
    font-size: 40px;
}
.blue_section_text h3 {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 25px;
}
.blue_section_image {
    max-height: 20%;
}
.purple_section{
    width: 90.5%;
    height: 1000px;
    background-color: #dedaff;
    display: flex;
    flex-direction: column;
    padding: 5%;
}
.purple_section_imgs{
    display: flex;
    width: 100%;
    height: 40%;
    justify-content: space-around;
}
.purple_section_table{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80% auto;
    font-size: 30px;
    padding: 3%;
}
.purple_section_table table{
    width: 80%;
    line-height: 40px;
}