.encabezado_section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    align-items: center;
    background-color: white;
}
.encabezado_section img{
    width: 10%;
    padding-left: 5%;
}
.encabezado_section div{
    width: 20%;
}
.encabezado_section a{
    padding-left: 10%;
    font-family: sans-serif;
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.text_with_image{
    width: 100%;
    height: 400px;
    background: url(img/background4.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: start;
    padding-left: 5%;
    font-family: sans-serif;
    flex-direction: column;
}
.text_with_image_h1 {
    width: 35%;
    font-size: 25px;
}
.text_with_image p{
    font-size: 15px;
}
.Button_black {
    border: none;
    background-color: black;
    color: white;
    padding: 15px 60px;
    text-decoration: none;
}
.text_with_image_links{
    display: flex;
    align-items: center;
    gap: 5%;
}
.text_link {
    color: black;
}
.blue_section {
    width: 100%;
    height: auto;
    padding: 3%;
    background-color: #c6dcff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif;
}
.blue_section_image {
    width: 80%;
}
.blue_section_text h2 {
    font-size: 40px;
}
.blue_section_text h3 {
    font-size: 20px;
}